<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSUserNotificationsUsageDescription</key>
	<string>We'll notify you when your video is ready to view</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>Remote notifications</string>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
